<body>
        <nav class="navbar">
        
              <!-- logo -->
            <div class="navbar-brand">
                <a class="navbar-search">
        
                </a>
                <a class="navbar-logo">
                  <img src="assets/img/Mountainside Lifestyle Logo.png" alt="Mountainside Lifestyle Logo" width=90px length=90px>
                </a>
                <a class="navbar-menu">
                  <!--<div class="topnav">
                        <a href="#Category 0">Mens</a>
                        <a href="#Category 1">Womens</a>
                        <a href="#Category 2">Sports & Outdoors</a>
                        <a href="#Category 3">Artisan Items</a>
                        <a href="#Category 4">Teas & Spices</a>
                    </div>-->
                    <div class="topnav">
                            <app-navbar></app-navbar>
                    </div>
                   
                </a>
            </div>
        </nav>
</body>