.header{
    margin:0;
    text-align: left;
    background-color: #796b65;
    padding: 5px 0px 0px;
    border-style: none;
}
.header-logo{
    padding: 5px 5px 5px 5px;
}
.navbar {
    background-color: #504642;
}
.navbar button{
    border-style: none solid;
    border-width: 1px;
    padding: 0px 95px;
}