<body>
        <nav class="navbar">
        
              <!-- logo -->
            <div class="navbar-brand">
                <a class="navbar-search">
        
                </a>
                <a class="navbar-logo">
                  <img src="assets/img/Mountainside Lifestyle Logo.png" alt="Mountainside Lifestyle Logo" width=90px length=90px>
                </a>
                <a class="navbar-menu">
                    <div class="topnav">
                        
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
                    </div>
                </a>
            </div>
        </nav>
</body>