<app-header title="Mountainside Lifestyles"></app-header>

<div class="navbar">
          <button mat-flat-button color="primary">
            <span>Mens</span>
          </button>
          <button mat-flat-button color="primary">
            <span>Womens</span>
          </button>
          <button mat-flat-button color="primary">
            <span>Sports & Outdoors</span>
          </button>
          <button mat-flat-button color="primary">
            <span>Artisan Items</span>
          </button>
          <button mat-flat-button color="primary">
            <span>Teas & Spices</span>
          </button>
</div>

<img src="assets/img/background.png" height="100%" width="100%">





